:root {
  --c-brand: var(--el-color-primary);
  --c-tip:var(--el-color-primary-light-3);
  --c-brand-light: var(--el-color-primary-light-3);
  --c-text-lighter: var(--c-text-accent);
}

html.dark{
  --c-brand:  var(--el-color-primary);
  --c-tip:var(--el-color-primary-light-3);
  --c-brand-light: var(--el-color-primary-light-3);
  --c-text-lighter: var(--c-text-accent);
}