:root {
  --c-brand: var(--el-color-primary);
  --c-tip: var(--el-color-primary-light-3);
  --c-brand-light: var(--el-color-primary-light-3);
  --c-text-lighter: var(--c-text-accent);
}

html.dark {
  --c-brand: var(--el-color-primary);
  --c-tip: var(--el-color-primary-light-3);
  --c-brand-light: var(--el-color-primary-light-3);
  --c-text-lighter: var(--c-text-accent);
}


.navbar .site-name {
  color: var(--el-color-primary);
  font-size: 1.4rem;
}

.home .hero .description {
  color: var(--c-text-light);
}

.home .feature p {
  color: var(--c-text-light);
}

table tr:nth-child(2n) {
  background-color: inherit;
}

.sidebar-item:not(.sidebar-heading) {
  font-size: .9em;
  color: var(--el-text-color-regular);
}

[tabindex="-1"]+table {
  display: table;
  width: 100%;
}

[tabindex="-1"]+table th,
[tabindex="-1"]+table td {
  border: 0px;
  text-align: left;
  max-width: 280px;
}

[tabindex="-1"]+table tr td {
  font-family: monospace;
}

[tabindex="-1"]+table tr td:last-child {
  font-family: inherit;
}


[tabindex="-1"]+table thead tr {
  border-top: 0px;
}

[tabindex="-1"]+table thead th {
  white-space: nowrap;
}

[tabindex="-1"]+table td a {
  display: block;
}